@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";


@theme {
  --color-accent: #d96919;
  --color-primary: #202030;

  --font-playfair: 'Playfair Display', serif;
  --font-hind: 'Hind', sans-serif;
}